<header *ngIf="rol === 'Recepcionista'" class="p-3 mb-3 border-bottom">
  <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 link-body-emphasis text-decoration-none">
          <img class="bi me-2" width="110" height="29.95" role="img" src="assets/Logo_backus_panel.png" alt={{nombreEmpresa}}
            style="border-radius: 10px;">
        </a>
  
        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
          <li><a href="/inicio" class="nav-link px-2 link-secondary">Inicio</a></li>      
          <li><a href="/inicio" class="nav-link px-2 link-body-emphasis">Estadistica</a></li>
          <div class="dropdown text-end">
            <a href="#" class="d-block link-body-emphasis text-decoration-none dropdown-toggle" data-bs-toggle="dropdown"
              aria-expanded="false">Almacén</a>
            <ul class="dropdown-menu text-small">
              <li><a class="dropdown-item" href="/registro-libros">Estado Almacenes</a></li>
              <li><a class="dropdown-item" href="/registro-tesis">Registrar Almacén</a></li>
              <li><a class="dropdown-item" href="/registro-tesis">Realizar Solicitud</a></li>
            </ul>
          </div>
        <div class="dropdown text-end">
            <a href="#" class="d-block link-body-emphasis text-decoration-none dropdown-toggle" data-bs-toggle="dropdown"
              aria-expanded="false">Lotes</a>
            <ul class="dropdown-menu text-small">
              <li><a class="dropdown-item" href="/registro-libros">Registrar Lote entrante</a></li>
              <li><a class="dropdown-item" href="/registro-tesis">Registrar Lote saliente</a></li>
            </ul>
          </div>
        </ul>
        <div class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3">
          <label class="form-control">{{nombre}} - {{rol}}</label>
        </div>
  
        <div class="dropdown text-end">
          <a href="#" class="d-block link-body-emphasis text-decoration-none dropdown-toggle" data-bs-toggle="dropdown"
            aria-expanded="false">
            <img src="https://github.com/mdo.png" alt="empleado" width="32" height="32" class="rounded-circle">
          </a>
          <ul class="dropdown-menu text-small">
            <li><a class="dropdown-item" href="#">Configuración</a></li>
            <li><a class="dropdown-item" href="#">Perfil</a></li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item" href="#">Salir</a></li>
          </ul>
        </div>
      </div>
    </div>
</header>

<header *ngIf="rol === 'Administrador'" class="p-3 mb-3 border-bottom">
  <div class="container">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
      <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 link-body-emphasis text-decoration-none">
        <img class="bi me-2" width="110" height="29.95" role="img" src="assets/Logo_backus_panel.png"
          alt={{nombreEmpresa}} style="border-radius: 10px;">
      </a>

      <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
        <li><a href="/inicio" class="nav-link px-2 link-secondary">Inicio</a></li>
        <li><a href="/inicio" class="nav-link px-2 link-body-emphasis">Estadistica</a></li>
        <div class="dropdown text-end">
          <a href="#" class="d-block link-body-emphasis text-decoration-none dropdown-toggle" data-bs-toggle="dropdown"
            aria-expanded="false">Almacén</a>
          <ul class="dropdown-menu text-small">
            <li><a class="dropdown-item" href="/registro-libros">Estado Almacenes</a></li>
            <li><a class="dropdown-item" href="/registro-tesis">Registrar Almacén</a></li>
            <li><a class="dropdown-item" href="/registro-tesis">Realizar Solicitud</a></li>
          </ul>
        </div>
        <div class="dropdown text-end">
          <a href="#" class="d-block link-body-emphasis text-decoration-none dropdown-toggle" data-bs-toggle="dropdown"
            aria-expanded="false">Lotes</a>
          <ul class="dropdown-menu text-small">
            <li><a class="dropdown-item" href="/registro-libros">Registrar Lote entrante</a></li>
            <li><a class="dropdown-item" href="/registro-tesis">Registrar Lote saliente</a></li>
          </ul>
        </div>
      </ul>
      <div class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3">
        <label class="form-control">{{nombre}} - {{rol}}</label>
      </div>

      <div class="dropdown text-end">
        <a href="#" class="d-block link-body-emphasis text-decoration-none dropdown-toggle" data-bs-toggle="dropdown"
          aria-expanded="false">
          <img src="https://github.com/mdo.png" alt="empleado" width="32" height="32" class="rounded-circle">
        </a>
        <ul class="dropdown-menu text-small">
          <li><a class="dropdown-item" href="#">Configuración</a></li>
          <li><a class="dropdown-item" href="#">Perfil</a></li>
          <li>
            <hr class="dropdown-divider">
          </li>
          <li><a class="dropdown-item" href="#">Salir</a></li>
        </ul>
      </div>
    </div>
  </div>
</header>

<header *ngIf="rol === 'Director'" class="p-3 mb-3 border-bottom">
  <div class="container">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
      <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 link-body-emphasis text-decoration-none">
        <img class="bi me-2" width="110" height="29.95" role="img" src="assets/Logo_backus_panel.png"
          alt={{nombreEmpresa}} style="border-radius: 10px;">
      </a>

      <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
        <li><a href="/inicio" class="nav-link px-2 link-secondary">Inicio</a></li>
        <li><a href="/inicio" class="nav-link px-2 link-body-emphasis">Estadística</a></li>
        <div class="dropdown text-end">
          <a href="#" class="d-block link-body-emphasis text-decoration-none dropdown-toggle" data-bs-toggle="dropdown"
            aria-expanded="false">Almacén</a>
          <ul class="dropdown-menu text-small">
            <li><a class="dropdown-item" href="/estado-almacen">Estado Almacenes</a></li>
            <li><a class="dropdown-item" href="/registrar-almacen">Registrar Almacén</a></li>
            <li><a class="dropdown-item" href="/registrar-reporte">Realizar Reporte</a></li>
          </ul>
        </div>
        <div class="dropdown text-end">
          <a href="#" class="d-block link-body-emphasis text-decoration-none dropdown-toggle" data-bs-toggle="dropdown"
            aria-expanded="false">Lotes</a>
          <ul class="dropdown-menu text-small">
            <li><a class="dropdown-item" href="/lotes-entrantes">Registrar Lote entrante</a></li>
            <li><a class="dropdown-item" href="/lotes-salientes">Registrar Lote saliente</a></li>
          </ul>
        </div>
      </ul>
      <div class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3">
        <label class="form-control">{{nombre}} - {{rol}}</label>
      </div>

      <div class="dropdown text-end">
        <a href="#" class="d-block link-body-emphasis text-decoration-none dropdown-toggle" data-bs-toggle="dropdown"
          aria-expanded="false">
          <img src="https://github.com/mdo.png" alt="empleado" width="32" height="32" class="rounded-circle">
        </a>
        <ul class="dropdown-menu text-small">
          <li><a class="dropdown-item" href="#">Configuración</a></li>
          <li><a class="dropdown-item" href="#">Perfil</a></li>
          <li>
            <hr class="dropdown-divider">
          </li>
          <li><a class="dropdown-item" href="#">Salir</a></li>
        </ul>
      </div>
    </div>
  </div>
</header>