<div *ngIf="tipo === 'Inicio'" class="registro-cuerpo" [style.background-color]="backgroundColor">
  <div class="container-registro">
    <p style="width: auto;">
      <span class="Bienvenida"> ¡ Estos datos son para tí </span>
      <span class="nombre" style="color:#A67133; height: 10px;"> {{nombre}} !</span>
    </p>
  </div>
  <div *ngIf="rol === 'Recepcionista'" class="Graficos-container-Recepcion">
    <div class="CantidadPrestamo-recep">
      <!--Le damos valor a los inputs creados en la clase del componente con los valores creados en 
            esta clase -->
      <app-graficos [canvaName]=Prestamo.id [tipoGrafico]=tipoGrafico
        [tituloGrafico]="setTitulo('Cantidad de productos registrados')"
        [labelsGrafico]="setLabels(['Cervezas', 'Aguas', 'Gaseosas', 'Productos Energizantes'])"
        [leyendaGrafico]="setLeyenda('Cantidad')" [valuesGrafico]="setValues([12, 19, 3, 5])"
        [coloresGrafico]="setColors(['rgba(255, 99, 132, 0.2)','rgba(255, 159, 64, 0.2)','rgba(255, 205, 86, 0.2)','rgba(75, 192, 192, 0.2)'])"
        [borderColorGrafico]="setBorderColor(['rgb(255, 99, 132)', 'rgb(255, 159, 64)', 'rgb(255, 205, 86)', 'rgb(75, 192, 192)'])"></app-graficos>
      <canvas #Prestamo id="CantidadPrestamo" width="400" height="400"></canvas>
    </div>
  </div>
  <div *ngIf="rol === 'Administrador'" class="Graficos-container-Administracion">
    <div class="CantidadRecaudado-admin">
      <app-graficos [canvaName]=Recaudado.id [tipoGrafico]="setTipo('doughnut')"
        [tituloGrafico]="setTitulo('Cantidad de Productos perdidos por mes')"
        [labelsGrafico]="setLabels(['Enero','Febrero','Marzo','Abril','Mayo','Junio','Julio'])"
        [leyendaGrafico]="setLeyenda('Cantidad')" [valuesGrafico]="setValues([120,180,270,105,250,100,85])"
        [coloresGrafico]="setColors(['rgba(255, 99, 132, 0.4)','rgba(255, 159, 64, 0.4)','rgba(255, 205, 86, 0.4)','rgba(75, 192, 192, 0.4)','rgba(54, 162, 235, 0.4)','rgba(153, 102, 255, 0.4)','rgba(201, 203, 207, 0.4)'])"
        [borderColorGrafico]="setBorderColor(['rgb(255, 99, 132)','rgb(255, 159, 64)','rgb(255, 205, 86)','rgb(75, 192, 192)','rgb(54, 162, 235)','rgb(153, 102, 255)','rgb(201, 203, 207)'])"></app-graficos>
      <canvas #Recaudado id="CantidadRecaudado" width="400" height="400"></canvas>
    </div>
  </div>
  <div *ngIf="rol === 'Director'" class="Graficos-container-Supervision">
    <div class="CantidadPrestamo">
      <!--Le damos valor a los inputs creados en la clase del componente con los valores creados en 
            esta clase -->
      <app-graficos [canvaName]=Prestamo.id [tipoGrafico]=tipoGrafico
        [tituloGrafico]="setTitulo('Cantidad de productos observados')"
        [labelsGrafico]="setLabels(['Enero','Febrero','Marzo','Abril','Mayo','Junio','Julio'])"
        [leyendaGrafico]="setLeyenda('Cantidad')" [valuesGrafico]="setValues([12, 19, 3, 5])"
        [coloresGrafico]="setColors(['rgba(255, 99, 132, 0.2)','rgba(255, 159, 64, 0.2)','rgba(255, 205, 86, 0.2)','rgba(75, 192, 192, 0.2)'])"
        [borderColorGrafico]="setBorderColor(['rgb(255, 99, 132)', 'rgb(255, 159, 64)', 'rgb(255, 205, 86)', 'rgb(75, 192, 192)'])"></app-graficos>
      <canvas #Prestamo id="CantidadPrestamo" width="400" height="400"></canvas>
    </div>
    <div class="CantidadAutores">
      <app-graficos [canvaName]=Autores.id [tipoGrafico]="setTipo('pie')"
        [tituloGrafico]="setTitulo('Cantidad de espacio disponibles por almacén')"
        [labelsGrafico]="setLabels(['Almacén A', 'Almacén B', 'Almacén C', 'Almacén D'])"
        [leyendaGrafico]="setLeyenda('Cantidad')" [valuesGrafico]="setValues([12, 19, 3, 5])"
        [coloresGrafico]="setColors(['rgba(255, 99, 132, 0.6)','rgba(255, 159, 64, 0.6)','rgba(255, 205, 86, 0.6)','rgba(75, 192, 192, 0.6)'])"
        [borderColorGrafico]="setBorderColor(['rgb(255, 99, 132)', 'rgb(255, 159, 64)', 'rgb(255, 205, 86)', 'rgb(75, 192, 192)'])"></app-graficos>
      <canvas #Autores id="CantidadAutores" width="400" height="400"></canvas>
    </div>
    <div class="CantidadRecaudado">
      <app-graficos [canvaName]=Recaudado.id [tipoGrafico]="setTipo('line')"
        [tituloGrafico]="setTitulo('Cantidad de fondos recaudados')"
        [labelsGrafico]="setLabels(['Enero','Febrero','Marzo','Abril','Mayo','Junio','Julio'])"
        [leyendaGrafico]="setLeyenda('Cantidad')" [valuesGrafico]="setValues([120,180,270,105,250,100,85])"
        [coloresGrafico]="setColors(['rgba(255, 205, 86, 0.6)','rgba(217, 32, 39, 0.6)'])"
        [borderColorGrafico]="setBorderColor(['rgb(255, 205, 86)', 'rgb(217, 32, 39)'])"></app-graficos>
      <canvas #Recaudado id="CantidadRecaudado" width="200" height="200"></canvas>
    </div>
    <div class="CantidadVisita">
      <app-graficos [canvaName]=Visita.id [tipoGrafico]="setTipo('doughnut')"
        [tituloGrafico]="setTitulo('Cantidad de productos repartidos por mes')"
        [labelsGrafico]="setLabels(['Enero','Febrero','Marzo','Abril','Mayo','Junio','Julio'])"
        [leyendaGrafico]="setLeyenda('Cantidad')" [valuesGrafico]="setValues([120,180,270,105,250,100,85])"
        [coloresGrafico]="setColors(['rgba(255, 99, 132, 0.4)','rgba(255, 159, 64, 0.4)','rgba(255, 205, 86, 0.4)','rgba(75, 192, 192, 0.4)','rgba(54, 162, 235, 0.4)','rgba(153, 102, 255, 0.4)','rgba(201, 203, 207, 0.4)'])"
        [borderColorGrafico]="setBorderColor(['rgb(255, 99, 132)','rgb(255, 159, 64)','rgb(255, 205, 86)','rgb(75, 192, 192)','rgb(54, 162, 235)','rgb(153, 102, 255)','rgb(201, 203, 207)'])"></app-graficos>
      <canvas #Visita id="CantidadVisita" width="400" height="400"></canvas>
    </div>
  </div>
</div>

<div *ngIf="tipo === 'ESTADO DE ALMACÉN'" class="registro-cuerpo" [style.background-color]="backgroundColor">
  <div class="container-registro">
    <p>
      <span class="registro"> Verificar</span>
      <span class="tipo" style="color:#CF3636; height: 10px; width: 400px !important;"> {{tipo}}</span>
    </p>
    <div class="contenedor-estados">
      <app-tarjetas></app-tarjetas>
    </div>
  </div>
</div>

<div *ngIf="tipo === 'ALMACÉN'" class="registro-cuerpo" [style.background-color]="backgroundColor">
  <div class="container-img">
    <img alt={{nombreEmpresa}} src={{urlImage}} width="360" height="90%">
  </div>
  <div class="container-registro">
    <p>
      <span class="registro"> Registrar</span>
      <span class="tipo" style="color:#A67133; height: 10px; width: 380px !important;"> {{tipo}}</span>
    </p>
    <div class="inputs">
      <form class="form-articulos" [formGroup]="almacenform" (ngSubmit)="registrarAlmacen()">
        <input class="Nombre" type="text" formControlName="name" placeholder="Nombre" style="top: 10px;">
        <input class="Descripcion" type="text" formControlName="description" placeholder="Descripción"
          style="top: 70px;">
        <input class="Direccion" type="text" formControlName="address" placeholder="Dirección" style="top: 130px;">
        <input class="Distrito" type="text" formControlName="district" placeholder="Distrito" style="top: 190px;">
        <input class="Provincia" type="text" formControlName="province" placeholder="Provincia" style="top: 250px;">
        <input class="Departamento" type="text" formControlName="departament" placeholder="Departamento"
          style="top: 10px; left: 75%;">
        <input class="Zona" type="text" formControlName="zone" placeholder="Zona" style="top: 70px; left: 75%;">
        <input class="Telefono" type="text" formControlName="phone" placeholder="Teléfono"
          style="top: 130px; left: 75%;">
        <input class="CapacidadMinima" type="number" formControlName="currentCapacity" placeholder="Capacidad habitual"
          style="top: 190px; left: 75%;">
        <input class="Capacidad" type="number" formControlName="maxCapacity" placeholder="Capacidad Máxima"
          style="top: 250px; left: 75%;">
        <div class="buttons" style=" display: flex; justify-content: space-between;">
          <button class="button-agregar" type="submit">Agregar</button>
          <button class="button-modificar" style="left: 185px">Modificar</button>
          <button class="button-mostrar" style="left: 365px">Mostrar</button>
          <button class="button-eliminar" style="left: 545px">Eliminar</button>
        </div>
      </form>
    </div>
  </div>
</div>

<div *ngIf="tipo === 'REPORTE'" class="registro-cuerpo" [style.background-color]="backgroundColor">
  <div class="container-img">
    <img alt={{nombreEmpresa}} src={{urlImage}} width="360" height="90%">
  </div>
  <div class="container-registro">
    <p>
      <span class="registro"> Registrar</span>
      <span class="tipo" style="color:#A67133; height: 10px"> {{tipo}}</span>
    </p>
    <div class="inputs">
      <form class="Autor-form" [formGroup]="reporteform" (ngSubmit)="registrarReporte()">
        <input class="Nombre" type="text" formControlName="nombre" placeholder="Nombre" style="top: 10px;">
        <input class="Apellidos" type="text" formControlName="apellidos" placeholder="Apellidos" style="top: 70px;">
        <input class="Telefono" type="text" formControlName="telefono" placeholder="Teléfono" style="top: 130px;">
        <input class="DNI" type="text" formControlName="dni" placeholder="DNI" style="top: 190px;">
        <div class="contenedorselect">
          <label class="contenedorselect" name="estado-label">ESTADO</label>
          <select name="estado" id="estado" formControlName="status" style="top: 50px;">
            <option>Buen estado</option>
            <option>Mal estado</option>
          </select>
        </div>
        <div class="buttons" style=" display: flex; justify-content: space-between;">
          <button class="button-agregar" type="submit">Agregar</button>
          <button class="button-modificar" style="left: 185px">Modificar</button>
          <button class="button-mostrar" style="left: 365px">Mostrar</button>
          <button class="button-eliminar" style="left: 545px">Eliminar</button>
        </div>
      </form>
    </div>
  </div>
</div>

<div *ngIf="tipo === 'LOTE ENTRANTE'" class="registro-cuerpo" [style.background-color]="backgroundColor">
  <div class="container-img">
    <img alt={{nombreEmpresa}} src={{urlImage}} width="360" height="90%">
  </div>
  <div class="container-registro">
    <p>
      <span class="registro"> Registrar</span>
      <span class="tipo" style="color:#A67133; height: 10px; width: 290px !important;"> {{tipo}}</span>
    </p>
    <div class="inputs">
      <form class="loteEntrante-form" [formGroup]="loteEntranteform" (ngSubmit)="registrarLoteEntrante()">
        <input class="Fecha" type="datetime-local" formControlName="date" style="top: 10px;">
        <input class="Observaciones" type="text" formControlName="observations" placeholder="Observaciones"
          style="top: 70px;">
        <div formArrayName="inputDetails">
          <div *ngFor="let detail of inputDetails.controls; let i = index">
            <input class="CajasEntrantes" type="number" formControlName="finalQuantityBoxes" placeholder="Cajas entrantes"
            style="top: 130px;"> <!-- FINAL QUANTITY BOXES -->
          <input class="Condicion" type="text" formControlName="condition" placeholder="Condicion" style="top: 190px;">
          <!-- CONDITION -->
          </div>
        </div>
        <div class="contenedorselect">
          <label class="contenedorselect" name="conductor-label">CONDUCTOR</label>
          <select name="conductor" id="conductor" formControlName="driver">
            <option [ngValue]="item" *ngFor="let item of conductor">{{item.name}}</option>
          </select>
        </div>
        <div class="contenedorselect" formArrayName="inputDetails">
          <div *ngFor="let detail of inputDetails.controls; let i = index">
            <label class="ubicacionselect" name="ubicacion-label">UBICACIÓN INTERNA</label>
            <select name="ubicacion" id="ubicacion" formControlName="internLocation">
              <option [ngValue]="item" *ngFor="let item of Location">{{item.description}}</option>
            </select>

            <label class="loteselect" name="lote-label">LOTE</label>
            <select name="lote" id="lote" formControlName="lot">
              <option [ngValue]="item" *ngFor="let item of LotCode">{{item.code}}</option>
            </select>
          </div>
        </div>
        <div class="contenedorselect">
          <label class="usuarioselect" name="usuario-label">USUARIO</label>
          <select name="usuario" id="user" formControlName="user">
            <option [ngValue]="item" *ngFor="let item of User">{{item.name}}</option>
          </select>
        </div>
        <div class="buttons" style=" display: flex; justify-content: space-between;">
          <button class="button-agregar" type="submit">Guardar</button>
          <button class="button-modificar" style="left: 185px">Modificar</button>
          <button class="button-mostrar" style="left: 365px">Mostrar</button>
          <button class="button-eliminar" style="left: 545px">Eliminar</button>
        </div>
      </form>
    </div>
  </div>
</div>

<div *ngIf="tipo === 'LOTE SALIENTE'" class="registro-cuerpo" [style.background-color]="backgroundColor">
  <div class="container-img">
    <img alt={{nombreEmpresa}} src={{urlImage}} width="360" height="90%">
  </div>
  <div class="container-registro">
    <p>
      <span class="registro"> Registrar</span>
      <span class="tipo" style="color:#6D24A6; height: 10px; width: 295px !important;"> {{tipo}}</span>
    </p>
    <div class="inputs">
      <form class="Multa-form" [formGroup]="loteSalienteform" (ngSubmit)="registrarLoteSaliente()">
        <input class="Fecha" type="datetime" formControlName="date" placeholder="Fecha de Salida" style="top: 10px;">
        <input class="PesoInicial" type="number" formControlName="initialWeight" placeholder="Peso Inicial"
          style="top: 70px;">
        <input class="CantidadInicial" type="number" formControlName="initialQuantityBoxes"
          placeholder="Cantidad de cajas inicial" style="top: 130px;">
        <div class="contenedorselect">
          <label class="contenedorselect" name="conductor-label">CONDUCTOR</label>
          <select name="conductor" id="conductor" formControlName="driver">
            <option [ngValue]="item" *ngFor="let item of conductor">{{item.name}}</option>
          </select>
        </div>
        <div class="contenedorselect">
          <label class="almacenselect" name="almacen-label">ALMACÉN DESTINO</label>
          <select name="almacen" id="almacen" formControlName="warehouse">
            <option [ngValue]="item" *ngFor="let item of almacen">{{item.name}}</option>
          </select>
        </div>
        <div class="buttons" style=" display: flex; justify-content: space-between;">
          <button class="button-agregar">Agregar</button>
          <button class="button-modificar" style="left: 185px">Modificar</button>
          <button class="button-mostrar" style="left: 365px">Mostrar</button>
          <button class="button-eliminar" style="left: 545px">Eliminar</button>
        </div>
      </form>
    </div>
  </div>
</div>