<div class="Login">
    <form class="Login-form">
        <div class="Logo_container">
            <img src="/assets/Logo_backus_panel.png">
        </div>
        <span class="Inicio">Iniciar Sesión</span>
        <span class="Datos">Ingresa tus datos</span>
        <div>
            <label class="user">Usuario</label>
            <input type="text" placeholder="ejemplo@hotmail.com">
          </div>
          <div>
            <label class="password">Contraseña</label>
            <input type="password" placeholder="contraseña">
          </div>
          <div class="form-check">
            <input type="checkbox">
            <label class="Texto_check">¿Mantener sesión iniciada?</label>
            <label class="FPassword">Olvidé la contraseña</label>
          </div>
          <div>
            <button type="button" value="submit"> Ingresar</button>
          </div>
          <div>
            <span class="pregunta">¿No tienes cuenta?</span>
            <label class="registrate">Regístrate aquí</label>
          </div>
    </form>
</div>
