
.shadow {
    box-shadow: 0 0 15px rgb(53 64 78 / 20%) !important;
}
.rounded {
    border-radius: 5px !important;
}

.bg-light {
    position: relative !important;
    background-color: #f7f8fa !important;
}

.badge {
    padding: 5px 8px;
    border-radius: 3px;
    letter-spacing: 0.5px;
    font-size: 12px;
}

.bg-primary, .badge-primary{
    background-color: #0051a0 !important;
}

.progress-bar{
    background-color: #0051a0 !important;
}

a {
text-decoration:none;    
}

/* .Tarjeta1{
    position: absolute;
    display: block;
    border-radius: 20px;
    background-color: #D7FFDF;
    width: 360px;
    height: 180px;
    left: 75px;
    top: 300px;
    transform: translate(-50%, -50%);
}


.Tarjeta2{
    position: absolute;
    display: block;
    border-radius: 20px;
    background-color: #ACE6C0;
    width: 360px;
    height: 180px;
    left: 460px;
    top: 300px;
    transform: translate(-50%, -50%);
}

.Tarjeta3{
    position: absolute;
    display: block;
    border-radius: 20px;
    background-color: #77B5A6;
    width: 360px;
    height: 180px;
    left: 840px;
    top: 300px;
    transform: translate(-50%, -50%);
}

.Tarjeta4{
    position: absolute;
    display: block;
    border-radius: 20px;
    background-color: #7897AB;
    width: 360px;
    height: 180px;
    left: 75px;
    top: 500px;
    transform: translate(-50%, -50%);
}

.progress{
    position: absolute;
    margin: 0 !important;
    bottom: 20px;
    left: 0;
    width: 100%;
}

img{
    position: absolute;
    top: 20px;
    left: 20px;
}

span{
    position: absolute;
    top: 35px;
    left: 80px;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: bold;
} */



