<div class="Tarjeta1">
  <img src="/assets/Storage.png">
  <span class="NombreAlmacen">Almacen 1</span>
  <div class="progress" role="progressbar" aria-label="Success example" aria-valuenow="25" aria-valuemin="0"
    aria-valuemax="100">
    <div class="progress-bar bg-success" style="width: 25%">25%</div>
  </div>
</div>

<div class="Tarjeta2">
  <img src="/assets/Storage.png">
  <span class="NombreAlmacen">Almacen 2</span>
  <div class="progress" role="progressbar" aria-label="Info example" aria-valuenow="50" aria-valuemin="0"
    aria-valuemax="100">
    <div class="progress-bar bg-info text-dark" style="width: 50%">50%</div>
  </div>
</div>

<div class="Tarjeta3">
  <img src="/assets/Storage.png">
  <span class="NombreAlmacen">Almacen 3</span>
  <div class="progress" role="progressbar" aria-label="Warning example" aria-valuenow="75" aria-valuemin="0"
    aria-valuemax="100">
    <div class="progress-bar bg-warning text-dark" style="width: 75%">75%</div>
  </div>
</div>

<div class="Tarjeta4">
  <span class="NombreAlmacen">Almacen 4</span>
  <img src="/assets/Storage.png">
  <div class="progress" role="progressbar" aria-label="Danger example" aria-valuenow="100" aria-valuemin="0"
    aria-valuemax="100">
    <div class="progress-bar bg-danger" style="width: 100%">100%</div>
  </div>
</div>